<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1>Deck
          <br>Peddler</h1>
        <h3>Play any deck, whenever you want. </h3>
        <br><br><p><a href="http://localhost:8080/users/sign_up.html" class="btn btn-large btn-primary">Sign Up to Get Started</a></p>
      </div>
      <img src="<%= asset_path('img/magicpic.jpg')%>"
      <div class="span7">
      </div>
    </div>
  </div>
</div>
<%= link_to "Change your password", edit_user_registration_path %>
<br/><br/><br/><br/>
<hr />
<br><h1><center>How It Works</center><br>
<div id="content" class="txt-middle">
  <div class="container">
    <div class="row main-tab">
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-comments"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Select</p><br>
        <p><h4>Choose the cards for your deck</h4></p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-delicious-sign"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Play</p><br>
        <p><h4>Use the deck at tournaments or at home</h4></p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider last">
        <div class="icon_wrapper"> <i class="icon-paste"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Return</p><br>
        <p><h4>Send back the cards and get a new deck</h4></p><br>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div id="footer">
</div> 
<h1><center>Why Rent?</center><br>
  <div id="content" class="txt-middle">
  <div class="container">
    <div class="row main-tab">
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-comments"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Save Money</p><br>
        <p><h4>Avoid paying thousands of dollars to stay up-to-date on the latest Standand metagame and never lose money during the Standard rotation.</h4></p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-delicious-sign"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Convenient</p><br>
        <p><h4>Never worry about buying or trading cards to get what you need for a deck. Always have the deck you want to play and keep it for as long as you want!</h4></p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider last">
        <div class="icon_wrapper"> <i class="icon-paste"></i> </div>
        <h2>Testimonials</h2>
        <p style="color:black">Variety</p><br>
        <p><h4>Receive any standard deck at any time. Play the hottest deck or come up with your own brew.</h4></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>