<div id="header">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1>The Process</h1>
      </div>
    </div>
  </div>
</div>
<body>
<div id="content">
     <center><div class="span4">
        <div class="container">
          <div class="row">
      <p style="font-family:arial;color:#5CADFF;font-size:20px;">The Process<br><br><br></p>
 
 
<h3><p style="font-family:arial;color:#5CADFF;font-size:20px;">Placing an Order</h3><br>
 
<p style="font-family:arial;color:#5CADFF;font-size:14px;">Renting a deck or singles is easy.<br>
First, find the cards you want to rent.<br>
Select the day you want to receive and return the cards.<br>
Then go through the checkout.<br>
An e-mail will be sent to you confirming that your order has been accepted.<br><br><br></p>
 
 
<h3><p style="font-family:arial;color:#5CADFF;font-size:20px;">Processing</h3><br>
 
<p style="font-family:arial;color:#5CADFF;font-size:14px;">Once you submit an order, if you are a new customer we will begin our verification process.<br>
We have various fraud-prevention checks, many of which are applied at this stage; if we have
questions about your order, we'll send you an e-mail - so please check your e-mail.<br>
Once the order has been accepted, the order is reserved until the shipping date (or straight to
shipping if it's as same-day order).<br>
On the ship date we will pull your order from inventory and pack it into a box for shipping.<br>
We put a pre-paid return shipping label into the box along with your receipt.<br><br><br></p>
 
 
<h3><p style="font-family:arial;color:#5CADFF;font-size:20px;">After That</h3><br>
 
<p style="font-family:arial;color:#5CADFF;font-size:14px;">USPS picks up the box and delivers it to your home. Once delivery has been attempted,<br>
your rental period begins.<br>
When you're done, pack it up the way it was when you got it, seal the box, stick the new shipping label
right over the old one, and get it to USPS.<br>
Once the cards get back to us, we'll send you an e-mail letting you know we received it!</p>
      </div>
    </div>
  </center></div>
</div>
</body>